---
layout: default
custom-foot: js/spotlight-media-handler.html
---

{% assign tributary_side = page.tributary-side | default: "left" %}

<div class="tributary-container">
  <!-- SVG River Background -->
  {% include tributary-river.html side=tributary_side id=page.slug %}

  <!-- Content area -->
  <div class="tributary-content-area">
    <div class="container">
      <div class="row">
        {% if tributary_side == 'right' %}
         <div class="col-lg-1">
          <!-- River space on right -->
        </div>
        <div class="col-lg-10">
          <div class="tributary-body">
            <div id="scrolly" class="container my-4">
              <article>
                <div class="row my-4 step">
                  <div class="">
                    {{content}}
                  </div>
                </div>
              </article>
          </div>
        </div>
        <div class="col-lg-1">
          <!-- River space on right -->
        </div>
        {% else %}
        <div class="col-lg-2">
          <!-- River space on left -->
        </div>
        <div class="col-lg-9">
          <div class="tributary-body">
            <div id="scrolly" class="container my-4">
              <article>
                <div class="row my-4 step">
                  <div class="">
                    {{content}}

                    <div class="row">
                      <h2 class="m-5">More Tributaries to Travel</h2>
                      {% for trib in site.tributaries%}
                      <div class="col text-center my-3">


                        {% include feature/trib-button.html trib=trib.slug text="" no-continue="true" centered="true" %}

                      </div> {% endfor %}
                    </div>
                  </div>
                </div>
              </article>
            </div>
          </div>
        </div>
        {% endif %}
                
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
                
                    </div>
</div>
